body {
    margin: 5px 20px;
}
#first-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#second-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#third-div {
    display: flex;
    flex-direction: column-reverse;
}