body {
    font-family: helvetica, sans-serif;
}

h2 {
    font-family: lobster;
    color: green;
}

.cat-pic {
    width: 150px;
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 30%;
}

#kitty-words {
    border-radius: 10px;
    width: 60%;
    height: 120px;
    margin: 20px auto;
    background: linear-gradient(90deg, #40BCDF, #CB6266);
    padding: 5px;
}

.stripes {
    border-radius: 20px;
    width: 70%;
    height: 400px;
    margin: 20px auto;
    /* use gradient to create stripes by repeating colors and stop values*/
    background: repeating-linear-gradient( 45deg, yellow 0px, yellow 40px, black 40px, black 80px);
}

.stripes p {
    font-size: 130px;
    text-align: center;
    color: white;
}

#bottom {
    height: 60px;
    width: 260px;
    margin: auto;
    background-color: blue;
    transform: skewX(24deg);
}